.projectsBlock {
    padding: 50px 0;
    min-height: 40vh;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border: 1px solid;
    width: 100%;
}

@media screen and (max-width: 1005px) {
    .projects {
        justify-content: center;
    }
}