.projectsBlock {
    padding: 50px 0;
    min-height: 40vh;
    background-color: aliceblue;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d1e5e5;
    margin: 0 0 20px 0;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border: 1px solid;
    width: 100%;
}