.title {
    margin: 0 0 83px 0;
}

.title h2 {
    margin: 0;
    font-weight: 700;
    letter-spacing: -.25px;
    line-height: 100%;
    font-size: 46px;
    color: #f0f0f0;
    position: relative;
}

.title:after {
    content: "";
    display: block;
    height: 4px;
    left: 0;
    margin: 37px auto 0 auto;
    right: 0;
    width: 75px;
    position: absolute;
    background-color: #009e66;
}