.projectBlock {
    width: 400px;
    background-color: #161616;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: darkviolet;
    height: 150px;
}

.titleContainer {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1px;
    line-height: 1.5;
    margin-bottom: 6px;
    color: #fff
}

.description {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.95;
}